@import '../base/_breakpoints';
@import '../base/colors';
.card-page {
  z-index: 5;
  position: fixed;
  bottom: 0;
  height: 90vh;
  background-color: $background--light;
  width: 95vw;
  border-radius: 20px;
  box-shadow: 0px -10px 6px -5px rgba(221, 83, 83, 1);
  margin: 0 auto;
  padding: 1em;

  .close-btn {
    position: relative;
    bottom: 0;
    float: right;
  }

  .activities {
    h4 {
      margin: 1em 0;
    }
    .flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;

      .flex-card {
        position: relative;

        background-color: $secondary-red;
        padding: 1em;
        border-radius: 10px;
        text-align: right;
        font-size: 12px;

        p {
          margin: 0;
          line-height: 1.2;
        }

        .icon {
          align-self: flex-start;
          width: 20%;
          left: 0;
          top: 5%;
          position: absolute;
        }
      }
    }
  }

  .chart-info {
    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .time {
        display: flex;
        align-items: center;
        border: 1px solid $primary-red;
        border-radius: 0.3em;

        input[type='radio'] {
          display: none;
        }

        .month label {
          border-radius: 0.3em 0 0 0.3em;
        }

        .week label {
          border-radius: 0 0.3em 0.3em 0;
        }

        label {
          transition: 0.1s;
          padding: 0.3em;
          font-size: 0.8rem;
        }

        input[type='radio']:checked + label {
          background-color: $secondary-red;
        }
      }

      .btn-group {
        * {
          margin: 0.3em;
        }
      }
    }

    .next-btn {
      rotate: 180deg;
    }

    .bar-chart {
      margin: 3em auto 1em auto;
      height: 200px;
      width: 250px;
  
    }
  }

  @include sm {
    .flex {
      justify-content: center;
    }

    .chart-info {
      .bar-chart {
        height: 300px;
        width: 500px;
        // margin: 3em auto;
      }
    }
  }

  @include lg {
    .card-page {
      padding: 1em 3em;
    }

    .chart-info {
      .bar-chart {
        height: 400px;
        width: 800px;
        // margin: 3em auto;
      }
    }
  }
}
