@import '../base/_breakpoints';
@import '../base/colors';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  .brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12%;
  }

  .nav-links {
    display: flex;
    cursor: pointer;

    & > div:first-child {
      margin-right: 0.7em;
    }

    .desktop-links {
      display: none;
    }

    .mob-links.loggedIn {
      background-color: $secondary-red;
      padding: 0 0.5em;
      border-radius: 50px;
    }
    .desktop-links.loggedIn {
      background-color: $secondary-red;
      padding: 0 0.5em;
      border-radius: 50px;
    }

    .mob-links img {
      width: 30px;
      height: 30px;
      border-radius: 50px;
    }

    .desktop-links img {

      width: 60px;
      height: 60px;
      border-radius: 50px;
    }
  }

  @include sm {
    .nav-links {
      align-self: center;

      & > div {
        margin: 0 1em;
      }

      .desktop-links {
        display: block;
        cursor: pointer;
      }
      .mob-links {
        display: none;
      }
    }
  }

  @include md {
    .nav-links{
      align-items: center;
    }
  }
}
