@import '../base/_breakpoints';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  .nav-links {
    display: flex;
    align-self: flex-end;

    & > div:first-child {
      margin-right: .7em;
    }

    .desktop-links {
      display: none;
    }
  }

  @include sm {
    .nav-links {
      align-self: center;

      & > div {
        margin: 0 1em;
      }

      .desktop-links {
        display: block;
        cursor: pointer;
      }
      .mob-links {
        display: none;
      }
    }
  }

  @include lg {
    // background-color: blue;
  }
}
