@import '../base/_breakpoints';
@import '../base/colors';

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;



  .timer-left{
    font-weight: 600;
    font-size: 1.5rem;
  }

  .timer-btn {
    margin-top: 1em;
    cursor: pointer;
  }

  @include sm {
    width: 40%;
    
    & > div{
      margin: 0 auto;
      
    }
    .timer-left{
      font-size: 2.5rem;
  
    }
  }
}
