@import '../base/_breakpoints';
@import '../base/colors';
.home-page {
  @include lg {
    display: flex;
    // height: 100vh;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 2em auto;
  // box-shadow: 0px -5px 14px -7px rgba(221, 83, 83, 1);
  // box-shadow: 0px 3px 5px 1px rgba(247,81,81,1);
border-radius: 1em;

  }
}
